In [1]:
import pandas as pd
import numpy as np

In [10]:
data = {"Name": ["Anirudh","Shreesh","Sayeed","Kamal"],
        "Location": ["Arizona","Arizona","Pune","Bangalore"],
        "Job": ["Student","Student","Professional","Professional"]}

CSV File:

In [11]:
df = pd.DataFrame(data)
df

      Name   Location           Job
0  Anirudh    Arizona       Student
1  Shreesh    Arizona       Student
2   Sayeed       Pune  Professional
3    Kamal  Bangalore  Professional

In [12]:
df.to_csv("example1.csv",index=False)

In [13]:
df1 = pd.read_csv(r"C:\Users\sucha\Desktop\C-DAC\Module 4 - Python\pandas\example1.csv")
print(df1.to_string())

      Name   Location           Job
0  Anirudh    Arizona       Student
1  Shreesh    Arizona       Student
2   Sayeed       Pune  Professional
3    Kamal  Bangalore  Professional

JSON File:

In [22]:
df.to_json("example_json.json", orient="records", lines = True)

In [24]:
df2 = pd.read_json(r"C:\Users\sucha\Desktop\C-DAC\Module 4 - Python\pandas\example_json.json",lines = True )
df2

      Name   Location           Job
0  Anirudh    Arizona       Student
1  Shreesh    Arizona       Student
2   Sayeed       Pune  Professional
3    Kamal  Bangalore  Professional

In [25]:
df.describe()

           Name Location      Job
count         4        4        4
unique        4        3        2
top     Anirudh  Arizona  Student
freq          1        2        2