4) Write a Pandas program to read a dataset from diamonds.csv(prepare yourself)
a)DataFrame and modify the default columns values and print the first 6 rows
b)calculate the mean of each numeric column of diamonds DataFrame.
c)calculate count, minimum, maximum price for each cut of diamonds DataFrame
d)print a concise summary of diamonds DataFrame.
e)count the duplicate rows of diamonds DataFrame.

In [2]:
import pandas as pd
import numpy as np

a)DataFrame and modify the default columns values and print the first 6 rows

In [7]:
df = pd.read_csv(r"C:\Users\sucha\Desktop\C-DAC\Module 4 - Python\Day 6 Task\diamonds.csv")
df

   carat      cut color clarity  depth  table  price
0   0.23    Ideal     E     VS1   61.5   55.0    326
1   0.21    Ideal     E     VS2   59.8   61.0    327
2   0.23     Good     G     VS1   56.9   59.0    335
3   0.24  Premium     G     VS2   58.2   58.0    336
4   0.26     Good     F     SI1   59.5   58.0    345
5   0.30    Ideal     F     SI1   60.0   60.0    400

In [13]:
df.loc[0,'price']=396
df

   carat      cut color clarity  depth  table  price
0   0.23    Ideal     E     VS1   61.5   55.0    396
1   0.21    Ideal     E     VS2   59.8   61.0    327
2   0.23     Good     G     VS1   56.9   59.0    335
3   0.24  Premium     G     VS2   58.2   58.0    336
4   0.26     Good     F     SI1   59.5   58.0    345
5   0.30    Ideal     F     SI1   60.0   60.0    400

b)calculate the mean of each numeric column of diamonds DataFrame.

In [15]:
mean = df[['carat','depth','table','price']].mean()
mean

carat      0.245000
depth     59.316667
table     58.500000
price    356.500000
dtype: float64

c)calculate count, minimum, maximum price for each cut of diamonds DataFrame

In [16]:
count = df["cut"].value_counts()
count

Ideal      3
Good       2
Premium    1
Name: cut, dtype: int64

In [23]:
minimum = df.groupby("cut").min()["price"]
minimum

cut
Good       335
Ideal      327
Premium    336
Name: price, dtype: int64

In [24]:
maximum = df.groupby("cut").max()["price"]
maximum

cut
Good       345
Ideal      400
Premium    336
Name: price, dtype: int64

d)print a concise summary of diamonds DataFrame.

In [25]:
df.describe()

          carat      depth      table       price
count  6.000000   6.000000   6.000000    6.000000
mean   0.245000  59.316667  58.500000  356.500000
std    0.031464   1.586716   2.073644   32.672619
min    0.210000  56.900000  55.000000  327.000000
25%    0.230000  58.525000  58.000000  335.250000
50%    0.235000  59.650000  58.500000  340.500000
75%    0.255000  59.950000  59.750000  383.250000
max    0.300000  61.500000  61.000000  400.000000

e)count the duplicate rows of diamonds DataFrame.

In [36]:
duplicate = df[df.duplicated()]
duplicate_count = df.duplicated().sum()
duplicate_count

0