3) Write a NumPy program to convert Pandas dataframe to Numpy array with headers.

In [15]:
import pandas as pd
import numpy as np

In [19]:
def df_to_np(data_frame):
    header = data_frame.columns
    np_array = data_frame.to_numpy()
    res = np.insert(np_array,0,header,axis = 0)
    return res

In [20]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [24, 30, 22],
    'City': ['New York', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data)

In [21]:
res = df_to_np(df)
res

array([['Name', 'Age', 'City'],
       ['Alice', 24, 'New York'],
       ['Bob', 30, 'Los Angeles'],
       ['Charlie', 22, 'Chicago']], dtype=object)