1) Write a NumPy program to read a CSV data file and store records in an array.

In [17]:
import numpy as np
import pandas as pd
import os

In [18]:
def numpy_read(file_name):
    path = os.path.normpath(file_name)
    df = pd.read_csv(path)
    return df

In [20]:
file = input("Enter Absolute File Path: ")
df = numpy_read(file)
df

Enter Absolute File Path: C:\Users\sucha\Desktop\C-DAC\Module 4 - Python\Day 6 Task\data.csv

   name  loc  salary
0  arun  blr   25000
1  hari  chn   45000
2  john  mum   30000
3  manu  hyd   35000